{% extends 'pluton/base.html' %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
<h1>
    PLUTON FIESTA
</h1>
<h3>
    Pluton Fiesta, the annual techno cultural fest of XYZ College is the city’s biggest and most anticipated
    college fest. We intend to provide a platform to build and grow talent, a platform that brings
    students together to create an unforgettable experience. This website provides the simplest way to
    get notified and register into a wide range of events from across different domains.  
</h3>
    </div>
  </div>

{% endblock %}